<div id="events" class="block">					
	<h2>Upcoming Events</h2>
	<table class="eventpreviews" border="0">
		<tbody>
			<tr>
				<td class="icon">
					<a href="/en/events/2016/11/09/5202/">
						<span class="dates">
							<div class="startdate">
								<em>Nov</em>
								<b>9</b>
							</div>
						</span>
					</a>
				</td>
				<td class="text">
					<span class="nima-lang">EN</span>
					<span class="nima pill">event</span>
					<div>
					<a href="/en/events/2016/11/09/5202/">
						Distilled, Not Brewed: Discovering Shochu
						<br>
					</a>
					</div>

				</td>
			</tr>
			<tr class="spacer"></tr>
			<tr>
				<td class="icon">
					<div class="article-pic">	
					</div>
				</td>
				<td class="text">
					<span class="nima-lang inactive">EN</span>
					<span class="nima-lang">JP</span>
					<span class="nima pill inactive">journal</span>
					<div>
					<a href="/en/events/2016/11/10/5220/">
						POSTPONED -- Opening Reception Hiroshi Senju
						<br>
						
					</a>
					</div>

				</td>
			</tr>
			<tr class="spacer"></tr>
			<tr>
				<td class="icon">
					<a href="/en/events/2016/11/10/5174/">
						<span class="dates">
							<div class="startdate">
								<em>Nov</em>
								<b>10</b>
							</div>
						</span>
					</a>
				</td>
				<td class="text">
					<span class="nima-lang">EN</span>
					<span class="nima pill">event</span>
					<div>
					<a href="/en/events/2016/11/10/5174/">
						Meditative Chanting with Ko Ishikawa
						<br>
						
					</a>
					</div>

				</td>
			</tr>
			<tr class="spacer"></tr>
			<tr>
				<td class="icon">
					<div class="article-pic">	
					</div>
				</td>
				<td class="text">
					<span class="nima-lang inactive">ES</span>
					<span class="nima-lang inactive">EN</span>
					<span class="nima-lang">JP</span>
					

					<span class="nima pill inactive">journal</span>
					<div>
					<a href="/en/events/2016/11/10/5254/">
						Joy Kogawa Toronto Book Launch for Gently to Nagasaki on November 10th
						<br>
						
					</a>
					</div>

				</td>
			</tr>
			<tr class="spacer"></tr>
			<tr>
				<td class="icon">
					<a href="/en/events/2016/11/11/5235/">
						<span class="dates">
							<div class="startdate">
								<em>Nov</em>
								<b>11</b>
							</div>
						</span>
					</a>
				</td>
				<td class="text">
					<span class="nima-lang">EN</span>
					<span class="nima pill">event</span>
					<div>
					<a href="/en/events/2016/11/11/5235/">
						Remembrance Day ceremony
						<br>
						
					</a>
					</div>

				</td>
			</tr>
			<tr class="spacer"></tr>
			<tr>
				<td class="icon">
					<div class="article-pic">	
					</div>
				</td>
				<td class="text">
					<span class="nima-lang inactive">PT</span>
					<span class="nima-lang inactive">ES</span>
					<span class="nima-lang">JP</span>
					<span class="nima pill">journal</span>
					<div>
					<a href="/en/events/2016/11/11/5175/">
						Sounds to Summon the Japanese Gods
						<br>
						
					</a>
					</div>

				</td>
			</tr>
			<tr class="spacer"></tr>
			<tr>
				<td class="icon">
					<a href="/en/events/2016/11/12/5169/">
						<span class="dates">
							<div class="startdate">
								<em>Nov</em>
								<b>12</b>
							</div>
						</span>
					</a>
				</td>
				<td class="text">
					<span class="nima-lang">EN</span>
					<span class="nima pill">event</span>
					<div>
					<a href="/en/events/2016/11/12/5169/">
						2016 JAMsj Winter Boutique
						<br>
						
					</a>
					</div>

				</td>
			</tr>
			<tr class="spacer"></tr>
			<tr>
				<td class="icon">
					<div class="article-pic">	
					</div>
				</td>
				<td class="text">
					<span class="nima-lang inactive">EN</span>
					<span class="nima-lang inactive">PT</span>
					<span class="nima-lang">JP</span>
					<span class="nima pill">journal</span>
					<div>
					<a href="/en/events/2016/11/12/5239/">
						11º Odori Fest 2016
						<br>
						
					</a>
					</div>

				</td>
			</tr>
			<tr class="spacer"></tr>
			<tr>
				<td class="icon">
					<a href="/en/events/2016/11/12/5252/">
						<span class="dates">
							<div class="startdate">
								<em>Nov</em>
								<b>12</b>
							</div>
						</span>
					</a>
				</td>
				<td class="text">
					<span class="nima-lang">EN</span>
					<span class="nima pill">event</span>
					<div>
					<a href="/en/events/2016/11/12/5252/">
						“TOKYO TO NEW YORK” in CONCERT 東京 と ニューヨーク" Concert
						<br>
						
					</a>
					</div>

				</td>
			</tr>
			<tr class="spacer"></tr>
			<tr>
				<td class="icon">
					<div class="article-pic">	
					</div>
				</td>
				<td class="text">
					<span class="nima-lang">JP</span>
					<span class="nima-lang">EN</span>
					<span class="nima pill">journal</span>
					<div>
					<a href="/en/events/2016/11/14/5242/">
						Nihongo Chat + J-Culture | 日本語と英語の語学交換会
						<br>
						
					</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<p class="more"><a href="#">LOAD MORE</a></p>
</div>