<div class="feed" style="width:100%;">
	<div class="first item item-journal">
		<a href="/en/journal/2016/11/29/ryo-mizuno-2/">
			<div class="info image spacing_20px">
				<div class="row">
					<div class="col-md-4">
						<div>
							<img src="http://media.discovernikkei.org/articles/6488/mizuno2_jpg_180x90_crop_upscale_q85.jpg" alt="">
						</div> <!-- /image -->
					</div>
					<div class="col-md-7">
						<div>
							<span class="nima pill inactive" >journal</span>
							<h3>坂本龍馬の開国論のその先に —&nbsp;ブラジル移民の祖、水野龍 ～その２</h3>
							
							<div class="byline">
								<ul>
									<li>By Masayuki Fukasawa</li><li>29 Nov 2016</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-1">
						<span class="languages"><span style="background: black !important;">ja</span> </span>
					</div>
				</div>
			</div>
		</a>
	</div>
		
	<div class="item item-event">
		<a href="/en/events/2016/11/09/5202/">
			<div class="info image">
				<div class="row">
					<div class="col-md-4">
						<div>
							<span class="dates">
								<div class="startdate">
									<em>Dec</em>
									<b>3</b>
								</div>
							</span>
						</div> <!-- /image -->
					</div>
					<div class="col-md-7">							
						<div>
							<div>		
								<span class="nima pill">event</span>
							</div>
							<h3>Museum Speaker Series: Yamato Damashii</h3>
							<p>Conference/Presentation</p>
							<img src="http://media.discovernikkei.org/accounts/JCNM/nikkei_nmcc_rgb_sm_square_gif_20x20_sharpen_q85.jpg" border="0" align="middle" style="margin-right:10px;">NNMCC
							<br>
						</div>
					</div>
					<div class="col-md-1">
						<span class="languages"><span style="background: black !important;">en</span> </span>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="item item-album">
		<a href="/en/nikkeialbum/albums/615/">
			<div class="info image">
				<div class="row">
					<div class="col-md-4">
						<div>
							<img src="http://media.discovernikkei.org/album/items/8097/kfhec22_png_200x200_detail_q85.jpg">
						</div> <!-- /image -->
					</div>
					<div class="col-md-7">							
						<span class="nima pill inactive" >album</span>
					    <h3>Elly Kleinman Album</h3>
						<span class="avatar_s inline"><img src="http://media.discovernikkei.org/accounts/ellykleinman/ellykleinman1_jpg_20x20_sharpen_q85.jpg" border="0" align="middle">ellykleinman</span>

						<div class="clearer"></div>
							<p>Elly Kleinman's Holocaust Album of pictures</p>
							<!-- <div>
							  <em class="colltype" style="float:left; padding-right:5px;">family history</em>
							
							</div> -->
					</div>
					<div class="col-md-1">
						<span class="languages"><span style="background: black !important;">en</span> </span>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="item item-journal" style="display:none;">
		<a href="/en/journal/2016/11/28/why-i-changed-my-name/">
			<div class="info image spacing ">
				<div class="row">
					<div class="col-md-4">
						
						<div class="">
							
							

							<img src="http://media.discovernikkei.org/articles/6486/Imai_jpg_180x90_crop_upscale_q85.jpg" alt="">
							
						</div> <!-- /image -->

					</div>
					<div class="col-md-7">
						<span class="nima pill inactive" >journal</span>
						<h3>Why I Changed My Name</h3>
						<div class="byline">
							<ul>
								<li>By Akira Imai</li><li>28 Nov 2016</li>
							</ul>
						</div>
					</div>
					<div class="col-md-1">
						<span class="languages"><span style="background: black !important;">en</span> </span>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="item item-event" style="display:none;">
		<a href="/en/events/2016/11/09/5202/">
			<div class="info image">
				<div class="row">
					<div class="col-md-4">
						<div>
							<span class="dates">
								<div class="startdate">
									<em>Nov</em>
									<b>9</b>
								</div>
							</span>
						</div> <!-- /image -->
					</div>
					<div class="col-md-7">							
						<div>
							<div>		
								<span class="nima pill">event</span>
							</div>
							Distilled, Not Brewed: Discovering Shochu
							<br>
						</div>
					</div>
					<div class="col-md-1">
						<span class="languages"><span style="background: black !important;">ja</span> </span>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="item item-album" style="display:none;">
		<a href="/en/nikkeialbum/albums/615/">
			<div class="info image">
				<div class="row">
					<div class="col-md-4">
						<div>
							<img src="http://media.discovernikkei.org/album/items/7623/10531410_669035246511058_926999287435976364_o_jpg_200x200_detail_q85.jpg">
						</div> <!-- /image -->
					</div>
					<div class="col-md-7">							
						<span class="nima pill inactive" >album</span>
					    <h3>Yamabiko Taiko Photos</h3>
						<span class="avatar_s inline"><img src="http://media.discovernikkei.org/accounts/Yamabiko_Taiko/1397528_552028221545095_1517311071_o_jpg_20x20_sharpen_q85.jpg" border="0" align="middle">Yamabiko_Taiko</span>

						<div class="clearer"></div>
							<p>Various photos of Yamabiko Taiko, based in Kelowna, BC.</p>

					</div>
					<div class="col-md-1">
						<span class="languages"><span style="background: black !important;">en</span> </span>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="item item-journal" style="display:none;">
		<a href="/en/journal/2016/11/28/ryo-mizuno-1/">
			<div class="info image spacing ">
				<div class="row">
					<div class="col-md-4">
						
						<div class="">
							
							

							<img src="http://media.discovernikkei.org/articles/6487/mizuno1_jpg_180x90_crop-,0_upscale_q85.jpg" alt="">
							
						</div> <!-- /image -->

					</div>
					<div class="col-md-7">
						<span class="nima pill inactive" >journal</span>
						<h3>坂本龍馬の開国論のその先に —&nbsp;ブラジル移民の祖、水野龍 ～その１</h3>
						<div class="byline">
							<ul>
								<li>By Akira Imai</li><li>28 Nov 2016</li>
							</ul>
						</div>
					</div>
					<div class="col-md-1">
						<span class="languages"><span style="background: black !important;">ja</span> </span>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="item item-journal" style="display:none;">
		<a href="/en/journal/2016/11/26/my-name-is-neal/">
			<div class="info image spacing ">
				<div class="row">
					<div class="col-md-4">
						
						<div class="">
							
							

							<img src="http://media.discovernikkei.org/articles/6473/Journal_Entry_A_Bloated_72_Hours_jpg_180x90_crop_upscale_q85.jpg" alt="">
							
						</div> <!-- /image -->

					</div>
					<div class="col-md-7">
						<span class="nima pill inactive" >journal</span>
						<h4>My Name is Neal</h4>
				
						<h3>Journal Entry #A Bloated 72 Hours: "Stomach Pump Time..."</h3>
						<div class="byline">
							<ul>
								<li>By Neal Yamamoto</li><li>26 Nov 2016</li>
							</ul>
						</div>
					</div>
					<div class="col-md-1">
						<span class="languages"><span style="background: black !important;">en</span> </span>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="item item-album" style="display:none;">
		<a href="/en/nikkeialbum/albums/615/">
			<div class="info image">
				<div class="row">
					<div class="col-md-4">
						<div>
							<img src="http://media.discovernikkei.org/album/items/8002/08241943-20-2744a_jpg_200x200_detail_q85.jpg">
						</div> <!-- /image -->
					</div>
					<div class="col-md-7">							
						<span class="nima pill inactive" >album</span>
					    <h3>Abandoment (Renunciation) of US Citizenship by Japanese Americans in WWII</h3>
						<span class="avatar_s inline"><img src="http://media.discovernikkei.org/accounts/RoyKakuda/roykakuda_JPG_20x20_sharpen_q85.jpg" border="0" align="middle">RoyKakuda</span>

						<div class="clearer"></div>
							<p>During the internment of Japanese Americans in American Concentration Camps 5,589 American citizens renounced their US citizenship.  They were enraged by their treatment by the US government and/or wanted to stay with ...</p>
							<p>Online Exhibition</p>
							<!-- <div>
							  <em class="colltype" style="float:left; padding-right:5px;">family history</em>
							
							</div> -->
					</div>
					<div class="col-md-1">
						<span class="languages"><span style="background: black !important;">en</span> </span>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="last item item-journal" style="display:none;">
		<a href="/en/journal/2016/11/25/internment-is-precedent/">
			<div class="info image spacing ">
				<div class="row">
					<div class="col-md-4">
						
						<div class="">
							
							

							<img src="http://media.discovernikkei.org/articles/6491/EO9066_jpg_180x90_crop-,0_upscale_q85.jpg" alt="">
							
						</div> <!-- /image -->

					</div>
					<div class="col-md-7">
					<span class="nima pill inactive" >journal</span>
						<h4>Nikkei View</h4>
				
						<h3>Trump Supporter Says Internment Is Precedent for Muslim Registration</h3>
						<div class="byline">
							<ul>
								<li>By Gil Asakawa</li><li>25 Nov 2016</li>
							</ul>
						</div>
					</div>
					<div class="col-md-1">
						<span class="languages"><span style="background: black !important;">en</span> </span>
					</div>
				</div>
			</div>
		</a>
	</div>
						
	<p class="more"><a id="load-more" href="#">More articles</a></p>
</div>