<div class="feed">
	
	<div class="first item">
		<a href="/en/journal/2016/11/30/picture-of-a-bride/">
			<div class="info">
				
				
				<div class="image">
					
					<span class="languages"><span style="background: black !important;">en</span> </span>

					<img src="http://media.discovernikkei.org/articles/6490/lily_jpg_180x90_crop_upscale_q85.jpg" alt="">
					
					</div> <!-- /image -->
					<div class="byline">
						<ul>
							<li>By Carolyn Nakagawa</li><li>30 Nov 2016</li>
						</ul>
					</div>
				</div>
			</a>
		</div>
		
		<div class="item">
			<a href="/en/journal/2016/11/29/ryo-mizuno-2/">
				<div class="info">
					
					<h3>坂本龍馬の開国論のその先に —&nbsp;ブラジル移民の祖、水野龍 ～その２</h3>
					<div class="image">
						
						<span class="languages"><span style="background: black !important;">ja</span> </span>
						
						
						
						
						
						
						
						<img src="http://media.discovernikkei.org/articles/6488/mizuno2_jpg_180x90_crop_upscale_q85.jpg" alt="">
						
						</div> <!-- /image -->
						<div class="byline">
							<ul>
								<li>By Masayuki Fukasawa</li><li>29 Nov 2016</li>
							</ul>
						</div>
					</div>
				</a>
			</div>
			
			<div class="item">
				<a href="/en/journal/2016/11/28/why-i-changed-my-name/">
					<div class="info">
						
						<h3>Why I Changed My Name</h3>
						<div class="image">
							
							<span class="languages"><span style="background: black !important;">en</span> </span>
							
							
							
							
							
							
							
							<img src="http://media.discovernikkei.org/articles/6486/Imai_jpg_180x90_crop_upscale_q85.jpg" alt="">
							
							</div> <!-- /image -->
							<div class="byline">
								<ul>
									<li>By Akira Imai</li><li>28 Nov 2016</li>
								</ul>
							</div>
						</div>
					</a>
				</div>
				
				<div class="item">
					<a href="/en/journal/2016/11/28/ryo-mizuno-1/">
						<div class="info">
							
							<h3>坂本龍馬の開国論のその先に —&nbsp;ブラジル移民の祖、水野龍 ～その１</h3>
							<div class="image">
								
								<span class="languages"><span style="background: black !important;">ja</span> </span>
								
								
								
								
								
								<img src="http://media.discovernikkei.org/articles/6487/mizuno1_jpg_180x90_crop-,0_upscale_q85.jpg" alt="">
								
								</div> <!-- /image -->
								<div class="byline">
									<ul>
										<li>By Masayuki Fukasawa</li><li>28 Nov 2016</li>
									</ul>
								</div>
							</div>
						</a>
					</div>
					
					<div class="item">
						<a href="/en/journal/2016/11/26/my-name-is-neal/">
							<div class="info">
								
								<h4>My Name is Neal</h4>
								
								<h3>Journal Entry #A Bloated 72 Hours: "Stomach Pump Time..."</h3>
								<div class="image">
									
									<span class="languages"><span style="background: black !important;">en</span> </span>
									
									
									
									
									
									
									
									<img src="http://media.discovernikkei.org/articles/6473/Journal_Entry_A_Bloated_72_Hours_jpg_180x90_crop_upscale_q85.jpg" alt="">
									
									</div> <!-- /image -->
									<div class="byline">
										<ul>
											<li>By Neal Yamamoto</li><li>26 Nov 2016</li>
										</ul>
									</div>
								</div>
							</a>
						</div>
						
						<div class="last item">
							<a href="/en/journal/2016/11/25/internment-is-precedent/">
								<div class="info">
									
									<h4>Nikkei View</h4>
									
									<h3>Trump Supporter Says Internment Is Precedent for Muslim Registration</h3>
									<div class="image">
										
										<span class="languages"><span style="background: black !important;">en</span> </span>
										
										
										
										
										
										<img src="http://media.discovernikkei.org/articles/6491/EO9066_jpg_180x90_crop-,0_upscale_q85.jpg" alt="">
										
										</div> <!-- /image -->
										<div class="byline">
											<ul>
												<li>By Gil Asakawa</li><li>25 Nov 2016</li>
											</ul>
										</div>
									</div>
								</a>
							</div>
							
							<p class="more"><a href="/en/journal/article/?sort=date">More articles</a></p>
						</div>