<!-- some inline styles position: fixed; bottom: 0; width: 992px; z-index: 10; for footer -->

<div id="footer">
<p>To be redesigned in black with cooler footer</p>
	<ul class="horizontal">
		<li><a href="/en/about/contact">Contact</a></li>
		<li><a href="/en/jobs">Jobs</a></li>
		<li><a href="/en/about/terms">Terms of Use</a></li>
		<li><a href="/en/about/privacy">Privacy Policy</a></li>
		<li><a href="/en/about/copyright">Copyright Policy</a></li>
		<li><a href="/en/about/sitemap">Sitemap</a></li>
	</ul>

	<div id="copyright">
		Copyright &copy; 2005-2016 Japanese American National Museum
	</div>

</div><!-- /footer -->

