<!-- some inline styles position: fixed; bottom: 0; width: 992px; z-index: 10; for footer -->

<div id="footer">
	<div class="border bottom">
		<div class="footer_logo en"></div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<div class="row">
				<h5>Sections</h5>
				<div class="col-md-2 col-sm-2">
					<ul>
						<li><a href="/en/about/contact">Journal</a></li>
						<li><a href="/en/jobs">Events</a></li>
						<li><a href="/en/about/terms">Item</a></li>
						<li><a href="/en/about/privacy">Item</a></li>
						<li><a href="/en/about/copyright">Item</a></li>
						<li><a href="/en/about/sitemap">Item</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-2">
					<ul>
						<li><a href="/en/about/contact">Contact</a></li>
						<li><a href="/en/jobs">Jobs</a></li>
						<li><a href="/en/about/terms">Item</a></li>
						<li><a href="/en/about/privacy">Item</a></li>
						<li><a href="/en/about/copyright">Item</a></li>
						<li><a href="/en/about/Item">Item</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-2">
					<ul>
						<li><a href="/en/about/contact">Contact</a></li>
						<li><a href="/en/jobs">Jobs</a></li>
						<li><a href="/en/about/terms">Item</a></li>
						<li><a href="/en/about/privacy">Item</a></li>
						<li><a href="/en/about/copyright">Item</a></li>
						<li><a href="/en/about/Item">Item</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3">
			<h5>Stay Connected</h5>
			<span>f</span><span>t</span><span>y</span>
			<ul>
				<li>Newsletters</li>
				<li>Item</li>
				<li>Item</li>
			</ul>
		</div>
		<div class="col-md-3 col-sm-3">
			<h5>About</h5>
			<ul>
				<li>Terms & Privacy</li>
				<li>Contact Us</li>
				<li>Item</li>
			</ul>
		</div>
	</div>
	<div class="row text-center">
		<div class="border top">
			<div class="col-md-6 col-sm-6">
				<span>Our Partners</span>
				<span>Nippon Foundation</span>
				<span>Japanese American National Museum</span>

			</div>
			<div class="col-md-3 col-sm-3">
				<span>Terms & Conditions</span>
				<span>Privacy</span>
			</div>
			<div class="col-md-3 col-sm-3 text-right">
				&copy; 2016 Discover Nikkei
			</div>
		</div>
	</div>
</div><!-- /footer -->

