<script src="static/js/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/js/handlebars.min.js"></script>
<script src="static/js/jquery.infinitescroll.js"></script>
<script src="static/js/bootstrap/bootstrap.js"></script>
<script src="static/js/jquery.cookie.js"></script>
<script src="static/js/underscore-min.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-47362007-1', 'discovernikkei.org');
	ga('require', 'displayfeatures');
	ga('send', 'pageview');
</script>

<!-- <script id="allauth-facebook-settings" type="application/json">
{"cancelUrl": "http://li1009-145.members.linode.com:8000/en/social/login/cancelled/", "loginByTokenUrl": "http://li1009-145.members.linode.com:8000/en/facebook/login/token/", "version": "v2.4", "logoutUrl": "http://li1009-145.members.linode.com:8000/en/logout/", "loginOptions": {"scope": "email"}, "appId": "619234901560772", "locale": "en_US", "loginUrl": "http://li1009-145.members.linode.com:8000/en/facebook/login/", "csrfToken": "FZ4G7tpxx92elKYswyv9x9G3dNaHJxBl", "errorUrl": "http://li1009-145.members.linode.com:8000/en/social/login/error/"}
</script>
<script type="text/javascript" src="/static/facebook/js/fbconnect.js"></script> -->
<!-- <script>
	var disqus_shortname = "discovernikkei";
	var api_key_public = "o2ixsC1tiSY7xq8mxUoEAmEN076gDfjkWbWoIyrP6S9yrOUcA3sfhVKzzErgwpP8";
	var disqus_identifier = "6473";
	$(function(){
		$.ajax({
			url:"https://disqus.com/api/3.0/threads/list.json",
			type: "GET",
			data: {api_key:api_key_public, forum:disqus_shortname},
			dataType:"json",
			success:function(data){
				var res = data.response;

			}
		})
	})
</script>
<script id="disqus-comments" type="text/x-handlebars-template">
	<div>
		{{}}
	</div>
</script> -->

