<div id="journal_promos">

		<div class="promo type1">

			
			<a href="/en/journal/chronicles/nikkeigo/">
				<img src="http://media.discovernikkei.org/static/img/interface/EN_Nikkei-go_square_promo.jpg" alt="" class="img-responsive">

				<h2>Nikkei-go: The Language of Family, Community, and Culture</h2>
			</a>

			<a href="/en/journal/series/nikkeigo/">

				<p class="more">Read the <em>Nikkei-Go</em> stories&nbsp;&gt;&gt;</p>
			</a>
			

			

			

			

		</div> <!-- .promo -->

		<div class="promo type2">
			<h2>Get updates</h2>

			<p><a href="http://www.facebook.com/discovernikkei" target="_blank"><img src="http://media.discovernikkei.org/static/img/icons/logo_45x45_facebook.png" alt=""></a> <a href="http://twitter.com/discovernikkei" target="_blank"><img src="http://media.discovernikkei.org/static/img/icons/logo_45x45_twitter.png" alt=""></a> <a href="http://www.youtube.com/discovernikkei" target="_blank"><img src="http://media.discovernikkei.org/static/img/icons/logo_45x45_youtube.png" alt=""></a></p>

			<form method="post" name="ccoptin" action="http://visitor.constantcontact.com/d.jsp">
				<input name="m" type="hidden" value="1101087989551">
				<input name="p" type="hidden" value="oi">

				<div class="form-group form-group-sm">
					<label for="exampleInputEmail1">Sign up for email updates</label>

					<div class="input-group input-group-sm">
						<input type="text" name="ea" class="form-control" placeholder="email">

						<span class="input-group-btn">
							<button type="submit" name="go" class="btn btn-default btn-primary">Go!</button>
						</span>
					</div>
				</div>
			</form>
		</div> <!-- .promo -->

		<div class="promo type1">
			<a href="/en/about/support">
				<h2>Support this project</h2>

				<img src="http://media.discovernikkei.org/static/img/icons/logo_95x95_dn.png" alt="" class="pull-left" style="width: 50px; margin: 0 5px 0 0;">

				<p>Discover Nikkei is a place to connect with others and share the Nikkei experience. To continue to sustain and grow this project, we need your help!</p>

				<p class="more type2">Ways to help »</p>
			</a>
		</div> <!-- .promo -->

		<div class="promo text-center">
			<h2>A project of the</h2>

			<p><a href="http://www.janm.org/" target="_blank"><img src="http://media.discovernikkei.org/static/img/interface/janm.png" alt=""></a></p>

			<br>

			<h2>Major support by</h2>

			<p><a href="http://www.nippon-foundation.or.jp/" target="_blank"><img src="http://media.discovernikkei.org/static/img/interface/nippon-foundation.png" alt="" style="width: 65px;"></a></p>
		</div> <!-- .promo -->

	</div>