<%- layout('user-layout') %>

<!-- legacy container -->
<div id="container">
	
	<div id="dn" class="nima">
		<div id="dn_container">
			<%- include ../partials/header %>
				 <!-- .row -->
		</div> <!-- /journal -->
	</div><!-- #dn_container -->


	<%- include ../partials/modal %>
	<div class="dn-inner-container">
		<div class="row">
			
			<div class="col-md-12">
				<div class="navigation block">
					<ol class="breadcrumb">
						<li><a href="#">Community</a></li>
						<li><a href="#">Nima</a></li>
						<li><a href="#">susan2</a></li>
						<li><a href="#">Manage</a></li>
					</ol>
				</div>
				<div class="row text-center">
					<div class="col-md-12">
					<div class="btn-group">
						<button class="btn btn-default active" id="profile-tab">Profile</button>
						<button class="btn btn-default" id="account-tab">Account</button>

						</div>
					</div>						
				</div>
				<div id="profile">
				<br>
				<div id="nima_form_container">
					<form method="post" action="/en/nima/manage/susan2/" novalidate="">
						<input type="hidden" name="csrfmiddlewaretoken" value="NEXNwv2qkahVLU6SfH5OWgPLM6FxFO1w">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-4">
											<h4 class="text-warning">Your profile is 60% complete</h4>
											<p>We recommend you complete your profile.</p>
										</div>
										<div class="col-sm-8">
											<div class="container-fluid">
												<div class="row">
													<div class="col-sm-4">
														<p class="incomplete">General Information</p>
													</div>
													<div class="col-sm-1">
														<span class="glyphicon glyphicon-unchecked incomplete" aria-hidden="true"></span>
													</div>
													<div class="col-sm-4 col-sm-offset-2">
														<p class="complete">Profile Image</p>
													</div>
													<div class="col-sm-1">
														<span class="glyphicon glyphicon-check complete" aria-hidden="true"></span>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-4">
														<p class="incomplete">Hometown</p>
													</div>
													<div class="col-sm-1">
														<span class="glyphicon glyphicon-unchecked incomplete" aria-hidden="true"></span>
													</div>
													<div class="col-sm-4 col-sm-offset-2">
														<p class="incomplete">Nikkei Interests</p>
													</div>
													<div class="col-sm-1">
														<span class="glyphicon glyphicon-unchecked incomplete" aria-hidden="true"></span>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-4">
														<p class="incomplete">Current City</p>
													</div>
													<div class="col-sm-1">
														<span class="glyphicon glyphicon-unchecked incomplete" aria-hidden="true"></span>
													</div>
													<div class="col-sm-4 col-sm-offset-2">
													</div>
													<div class="col-sm-1">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-4">
											<h4>General Information</h4>
											<p></p>
										</div>
										<div class="col-sm-8 text-center">
											<div class="btn-group" style="margin-top: 10px; margin-bottom: 10px;">
												<button type="button" class="btn btn-default active">English</button>
												<button type="button" class="btn btn-default">日本語</button>
												<button type="button" class="btn btn-default">Espanol</button>
												<button type="button" class="btn btn-default">Portugues</button>
											</div>
											<div class="form-group">
												<textarea class="form-control input-lg" cols="40" id="id_general_info" name="general_info" rows="6">Enter your information here</textarea>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item">
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-4">
												<h4>Profile Image</h4>
												<p>JPEG, GIF or PNG, 10MB max.</p>
											</div>
											<div class="col-sm-4">
												<p style="margin-top:20px;">susan2.jpg<p>
												<p><input type="file"></p>
												<p>Change Image</p>
											</div>
											<div class="col-sm-4 text-right">
												
												<img src="/media/cache/susan-large.jpg" alt="" class="thumbnail img-responsive" style="width:175px; display: inline-block;">
												
											</div>
										</div>
									</div>
								</li>
							<li class="list-group-item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-4">
											<h4>Hometown</h4>
										</div>										
										<div class="col-sm-8">
											<div class="row">
												<div class="col-sm-1">
													<img src="media/cache/home_icon.png">
												</div>
												<div class="col-sm-11">
													<div class="form-group">
														<input class="form-control input-lg" id="id_hometown" name="hometown" placeholder="Hometown" type="text" value="Boston, MA, United States" autocomplete="off">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="container-fluid">
									<div class="row">
										
										<div class="col-sm-4">
											<h4>Current Location</h4>
										</div>
										<div class="col-sm-8">
											<div class="row">
												<div class="col-sm-1">
													<div class="col-sm-1">
														<img style="position:relative; left: -13px;" src="media/cache/current_city_icon.png">
													</div>
												</div>
												<div class="col-sm-11">
													<div class="form-group">
														<input class="form-control input-lg" id="id_city" name="city" placeholder="Current City" type="text" value="Gardena, CA, United States" autocomplete="off">
													</div>				
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Social</h4>
										
										
									</div>
									<div class="col-sm-8">
										<div class="form-group">
											<div class="row">
												<div class="social_profile col-md-1">
													<img src="media/cache/facebook-icon.png">
												</div>
												<div class="col-md-11">
													<input class="form-control input-lg" placeholder="" type="text" value="facebook.com/susan.bergman" autocomplete="off">
												
											</div>
											
											
										</div>
										<div class="form-group">
											<div class="row">
												<div class="social_profile col-md-1">
													<img src="media/cache/twitter-icon.png">
												</div>
												<div class="col-md-11">
													<input class="form-control input-lg" placeholder="" type="text" value="@susan2" autocomplete="off">	
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="social_profile col-md-1">
													<img src="media/cache/youtube-icon.png">
												</div>
												<div class='col-md-11'>
													<input class="form-control input-lg" placeholder="" type="text" value="youtube.com/susan2" autocomplete="off">	
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="social_profile col-md-1">
													<img src="media/cache/instagram-icon.png">
												</div>
												<div class="col-md-11">
													<input class="form-control input-lg" placeholder="" type="text" value="@susan2" autocomplete="off">
												</div>
											</div>
												
										
											
											
										</div>
									</div>
								</div>
							</div>
						</li>
							<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Communication Preferences</h4>
										<p>You may select multiple languages</p>
										
									</div>
									<div class="col-sm-8">
										<input type="checkbox" name=""> English
										<br>
										<input type="checkbox" name=""> 日本語
										<br>
										<input type="checkbox" name=""> Espanol
										<br>
										<input type="checkbox" name=""> Portugues
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Nikkei Interests</h4>
										
									</div>
									<div class="col-sm-8">
										<input type="checkbox" name=""> Community History
										<br>
										<input type="checkbox" name=""> Family Stories
										<br>
										<input type="checkbox" name=""> Festival Matsuri
										<br>
										<input type="checkbox" name=""> Japantowns
										<br>
										<input type="checkbox" name=""> Taiko
										<br>
										<input type="checkbox" name=""> Other
									</div>
								</div>
							</div>
						</li>
								
								
							</ul>
						</form>
					</div>
				</div>
				<div id="account">
				<br>
				<div class="nima_form_container">
					<form>
						<ul class="list-group">
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Username</h4>
										
									</div>
									<div class="col-sm-8">
										
										<h4>susan2</h4>
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Password</h4>
									</div>
									<div class="col-sm-8">
										<h4><a href="#">Change</a></h4>
									</div>
								</div>

							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Email</h4>
									
									</div>
									<div class="col-sm-8">
										<div class="form-group">
											<input class="form-control" type="email" placeholder="susangee@gmail.com">
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Social Connections</h4>
									
									</div>
									<div class="col-sm-8">
											<img src="media/cache/facebook-icon.png">
										<a href="#">Revoke access</a>
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Newsletters</h4>
										
									</div>
									<div class="col-sm-8">
										<input type="checkbox" name=""> Discover Nikkei Monthly Newsletter
										<br>
										<input type="checkbox" name=""> Discover Nikkei Monthly Newsletter (en Espanol)
										<br>
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Gender</h4>
										
									</div>
									<div class="col-sm-8">
										
										<div class="form-group">
										
											<select class="form-control">
												<option>Male</option>
												<option>Female</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</li>
						
						</ul>
					</form>
					</div>
				</div>
				
				<div class="text-center">
					<button class="btn btn-primary btn-lg">Submit</button>
				</div>
				<div>
				<br>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<p class="nima_terms">By providing this information, you agree to the Discover Nikkei <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- dn inner container -->
	<% include ../partials/footer %>

</div>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector:'#id_general_info' });</script>