<%- layout('user-layout') %>

<!-- legacy container -->
<div id="container">
	
	<div id="dn" class="nima">
		<div id="dn_container">
			<%- include ../partials/header %>
				 <!-- .row -->
		</div> <!-- /journal -->
	</div><!-- #dn_container -->


	<%- include ../partials/modal %>
	<div class="dn-inner-container">
		<div class="row">
			
			<div class="col-md-12">
				
			</div>
		</div>
				
		<div class="row">
			<div class="col-md-8">
				<h2>Results</h2>
				
				
					
				
			</div>
			<div class="col-md-4">
				Some other stuff
			</div>
		</div>
	</div><!-- dn inner container -->
	<% include ../partials/footer %>

</div>
