<%- layout('user-layout') %>

<!-- legacy container -->
<div id="container">
	
	<div id="dn" class="nima">
		<div id="dn_container">
			<%- include ../partials/header %>
				 <!-- .row -->
		</div> <!-- /journal -->
	</div><!-- #dn_container -->


	<%- include ../partials/modal %>
	<div class="dn-inner-container">
		<div class="row text-center">
			<div class="col-md-12">
				<div class="navigation block">
					<ol class="breadcrumb">
						<li><a href="#">Community</a></li>
						<li><a href="#">Nima</a></li>
						<li><a href="#">susan2</a></li>
					</ol>
				</div>
				<div class="nima profile-pic-map">
					<img src="/media/cache/susan.jpg">
				</div>
				<div id="map"></div>
			</div>
			<div class="col-md-12">
				<% if(typeof user !== "undefined"){ %>
					
				<h2><%- user %></h2>
				<% }else { %>
				<h2>susan2</h2>
				<% } %>

				<p>Los Angeles - United States</p>
				<p>Nima since 2015</p>
			</div>
		</div>
				
		<div class="row">
			<div class="col-md-8">
				<div class="activity-feed spacing_20px">
					<button class="btn btn-primary">All</button>
					<button class="btn btn-default">Articles</button>
					<button class="btn btn-default">Events</button>
					<button class="btn btn-default">Nikkei Album</button>
				</div>
				<% include ../partials/events %>
				
			</div>
			<div class="col-md-4">
				<h3>General Information</h3>
				<div>
					<hr>
					<p>Lorem ipsum <a href="#">(read more)</a></p>
					<p>Current City: Los Angeles - United States</p>
					<p>Hometown: Boston - United States</p>
					<p>Nikkei Interests: Japantowns, Food</p>
					<p>Facebook</p>
					<p>Communication Preferences</p>
					<button>English</button>
					<button>日本語</button>
				</div>
				<div>
					<h3>Send message to susan2</h3>
					<div id="disqus_thread"></div>
				<script>
				    /**
				     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
				     */
				    /*
				    var disqus_config = function () {
				        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
				        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				    };
				    */
				    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
				        var d = document, s = d.createElement('script');
				        
				        s.src = '//EXAMPLE.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
				        
				        s.setAttribute('data-timestamp', +new Date());
				        (d.head || d.body).appendChild(s);
				    })();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
				</div>
			</div>
		</div>
	</div><!-- dn inner container -->
	<% include ../partials/footer %>

</div>

