<%- layout('user-layout') %>

<!-- legacy container -->
<div id="container">
	
	<div id="dn" class="nima">
		<div id="dn_container">
			<%- include ../partials/header %>
				 <!-- .row -->
		</div> <!-- /journal -->
	</div><!-- #dn_container -->


	<%- include ../partials/modal %>
	<div class="dn-inner-container">
		<div class="row">
			
			<div class="col-md-12">
				<div class="navigation block">
					<ol class="breadcrumb">
						<li><a href="#">Community</a></li>
						<li><a href="#">Nima</a></li>
						<li><a href="#">susan2</a></li>
						<li><a href="#">Manage</a></li>
					</ol>
				</div>
				<div class="row text-center">
					<div class="col-md-12">
					<div class="btn-group">
						<button class="btn btn-default" id="profile-tab">Profile</button>
						<button class="btn btn-default" id="account-tab">Account</button>

						</div>
					</div>						
				</div>
				<div id="profile">
				<br>
				<div id="nima_form_container">
					<form method="post" action="/en/nima/manage/susan2/" novalidate="">
						<input type="hidden" name="csrfmiddlewaretoken" value="NEXNwv2qkahVLU6SfH5OWgPLM6FxFO1w">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-4">
											<h4 class="text-warning">Your profile is 60% complete</h4>
											<p>We recommend you complete your profile.</p>
										</div>
										<div class="col-sm-8">
											<div class="container-fluid">
												<div class="row">
													<div class="col-sm-4">
														<p class="incomplete">General Information</p>
													</div>
													<div class="col-sm-1">
														<span class="glyphicon glyphicon-unchecked incomplete" aria-hidden="true"></span>
													</div>
													<div class="col-sm-4 col-sm-offset-2">
														<p class="complete">Profile Image</p>
													</div>
													<div class="col-sm-1">
														<span class="glyphicon glyphicon-check complete" aria-hidden="true"></span>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-4">
														<p class="incomplete">Hometown</p>
													</div>
													<div class="col-sm-1">
														<span class="glyphicon glyphicon-unchecked incomplete" aria-hidden="true"></span>
													</div>
													<div class="col-sm-4 col-sm-offset-2">
														<p class="incomplete">Nikkei Interests</p>
													</div>
													<div class="col-sm-1">
														<span class="glyphicon glyphicon-unchecked incomplete" aria-hidden="true"></span>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-4">
														<p class="incomplete">Current City</p>
													</div>
													<div class="col-sm-1">
														<span class="glyphicon glyphicon-unchecked incomplete" aria-hidden="true"></span>
													</div>
													<div class="col-sm-4 col-sm-offset-2">
													</div>
													<div class="col-sm-1">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-4">
											<h4>General Information</h4>
											<p><img src="/media/cache/susan-large.jpg" alt="" class="thumbnail img-responsive" style="display:inline; width:175px;"></p>
										</div>
										<div class="col-sm-8">
											<div class="form-group" style="margin-top:50px;">
												<textarea class="form-control input-lg" cols="40" id="id_general_info" name="general_info" rows="6">well this is it</textarea>
											</div>
										</div>
										
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-4">
											<h4>Hometown</h4>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input class="form-control input-lg" id="id_hometown" name="hometown" placeholder="Hometown" type="text" value="Boston, MA, United States" autocomplete="off">
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-4">
											<h4>Current Location</h4>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input class="form-control input-lg" id="id_city" name="city" placeholder="Current City" type="text" value="Gardena, CA, United States" autocomplete="off">
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-4">
											<h4>Gender</h4>
											
										</div>
										<div class="col-sm-2">
										
											<div class="form-group">
												<select class="form-control input-lg" id="id_gender" name="gender">
													<option value=""></option>
													<option value="f" selected="selected">female</option>
													<option value="m">male</option>
												</select>
											</div>
											
										</div>
									</div>
								</li>
								
								
							</ul>
						</form>
					</div>
				</div>
				<div id="account">
				<br>
				<div class="nima_form_container">
					<form>
						<ul class="list-group">
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Username</h4>
										
									</div>
									<div class="col-sm-8">
										
										<h4>susan2</h4>
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Password</h4>
									</div>
									<div class="col-sm-8">
										<h4><a href="#">Change</a></h4>
									</div>
								</div>

							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Email</h4>
									
									</div>
									<div class="col-sm-8">
										<div class="form-group">
											<input class="form-control" type="email" placeholder="susangee@gmail.com">
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Social Connections</h4>
									
									</div>
									<div class="col-sm-8">
												<a href="http://www.facebook.com/discovernikkei" target="_blank"><img class="tiny-icon" src="http://media.discovernikkei.org/static/img/icons/logo_45x45_facebook.png" alt=""></a> <a href="http://twitter.com/discovernikkei" target="_blank"><img class="tiny-icon" src="http://media.discovernikkei.org/static/img/icons/logo_45x45_twitter.png" alt=""></a> <a href="http://www.youtube.com/discovernikkei" target="_blank"><img class="tiny-icon" src="http://media.discovernikkei.org/static/img/icons/logo_45x45_youtube.png" alt=""></a>
										<br><a href="#">Revoke access</a>
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Newsletters</h4>
										
									</div>
									<div class="col-sm-8">
										<input type="checkbox" name=""> Discover Nikkei Monthly Newsletter
										<br>
										<input type="checkbox" name=""> Discover Nikkei Monthly Newsletter (en Espanol)
										<br>
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Birth Year & Gender</h4>
										
									</div>
									<div class="col-sm-8">
										<p>The Japanese American National Museum encourages guests of all ages to visit and browse the Site.  However, access to and use of certain features of the Site and Services, including, but not limited to those that require Account registration, are intended solely for persons who are 13 years of age or older.  Any access to or use of such features by anyone under the age of 13 is expressly prohibited.  By accessing or using such features of the Site or Services you represent and warrant that you are 13 years of age or older.</p>
										<div class="form-group">
											<select class="form-control">
												<option>1980</option>
											</select>
											<select class="form-control">
												<option>Male</option>
												<option>Female</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Communication Preferences</h4>
										<p>You may select multiple languages</p>
										
									</div>
									<div class="col-sm-8">
										<input type="checkbox" name=""> English
										<br>
										<input type="checkbox" name=""> 日本語
										<br>
										<input type="checkbox" name=""> Espanol
										<br>
										<input type="checkbox" name=""> Portugues
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-4">
										<h4>Nikkei Interests</h4>
										
									</div>
									<div class="col-sm-8">
										<input type="checkbox" name=""> Community History
										<br>
										<input type="checkbox" name=""> Family Stories
										<br>
										<input type="checkbox" name=""> Festival Matsuri
										<br>
										<input type="checkbox" name=""> Japantowns
										<br>
										<input type="checkbox" name=""> Taiko
										<br>
										<input type="checkbox" name=""> Other
									</div>
								</div>
							</div>
						</li>
						</ul>
					</form>
					</div>
				</div>
				
				<div class="text-center">
					<button class="btn btn-primary btn-lg">Submit</button>
				</div>
				<div>
				<br>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<p class="nima_terms">By providing this information, you agree to the Discover Nikkei <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- dn inner container -->
	<% include ../partials/footer %>

</div>
