<%- layout('default-layout') %>

<!-- legacy container -->
<div id="container">
	
	<div id="dn" class="nima">
		<div id="dn_container">
			<%- include ../partials/header %>
				<div class="row">
					<div id="dn_main">
						<p>Some great stuff will go here.</p>
					</div> <!-- /dn_main -->
				</div> <!-- .row -->
		</div> <!-- /journal -->
	</div><!-- #dn_container -->


	<%- include ../partials/modal %>


	<div>
		<h2>Nima</h2>
		<p>Are you a Nima*?</p>
		<p>Nima are members of the Discover Nikkei online community called Nima-kai.  Join our community and share your stories about the Nikkei experience.  Click an icon on the map to connect with Nima around the world!</p>
		<p>The term "Nima" comes from combining Nikkei and nakama (Japanese for "colleagues", or "fellows", or "circle").</p>
	</div>
	<div>
		<h2>Nima Map</h2>
		Google Map Goes here
	</div>
	<div>
		<h2>Nima-kai Community Activity Feed</h2>
		<div>
			<ul>
				<li>All</li>
				<li>Articles</li>
				<li>Events</li>
				<li>Nikkei Album</li>
			</ul>
		</div>
		<div>
			<div>
				<div>Nov 2</div>
				<div>
					<div>EN</div>
					<div>Event</div>
					<p>Curabitur sit amet turpis eu eros</p>
				</div>
			</div>
			<div>
				<div>Nov 2</div>
				<div>
					<div>EN</div>
					<div>Event</div>
					<p>Curabitur sit amet turpis eu eros</p>
				</div>
			</div>
			<div>
				<div>Nov 2</div>
				<div>
					<div>EN</div>
					<div>Event</div>
					<p>Curabitur sit amet turpis eu eros</p>
				</div>
			</div>
			<div>
				<div>Nov 2</div>
				<div>
					<div>EN</div>
					<div>Event</div>
					<p>Curabitur sit amet turpis eu eros</p>
				</div>
			</div>
			<button>Load More</button>
		</div>
	</div>
	<div>
		Comments Latest
	</div>

	<% include ../partials/footer %>

</div>
