<%- layout('default-layout') %>

<!-- legacy container -->
<div id="container">
	
	<div id="dn" class="nima">
		<div id="dn_container">
			<%- include ../partials/header %>
				 <!-- .row -->
		</div> <!-- /journal -->
	</div><!-- #dn_container -->


	<%- include ../partials/modal %>
	<div class="dn-inner-container">
		<div class="row">
			
			<div class="col-md-12 col-sm-12">
				<div id="journal_introduction">
					
					<div class="row">
						<div class="col-md-2 col-sm-2 text-center">
							<img class="nima community_icon" src="static/img/icons/users-100.png">
							<button class="nima signup">Sign Up</button>
						</div>
						<div class="col-md-6 col-sm-6">
							<h2>Nima</h2>
							<p>Are you a Nima*?</p>
							<p>Nima are members of the Discover Nikkei online community called Nima-kai.  Join our community and share your stories about the Nikkei experience.  Click an icon on the map to connect with Nima around the world!</p>
							<p>The term "Nima" comes from combining Nikkei and nakama (Japanese for "colleagues", or "fellows", or "circle").</p>
						</div>
						<div class="col-md-4 col-sm-4">
							<div id="nima_examples">

            

            

            <div class="nima_card" id="nima_card_1">
                    <div class="cover" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=United%20States&amp;zoom=2&amp;size=200x200&amp;key=AIzaSyC8tMfHjAZlvWs5Xezt0uv6bORbFFXztlE')"></div>

                    <div class="content">
                         <!--    <img src="/media/cache/b7/81/b78147136d5ab7fad78a0aff6cc1da48.jpg" alt="" class="thumbnail" /> -->

                            <div class="bio">
                                    <div class="title">
                                            <h4>DavidGizz</h4>
                                    </div>

                                    <p><span class="country"><img src="http://www.geonames.org/flags/s/us.png"> United States</span></p>
                            </div>
                    </div>
            </div> <!-- /nima_card -->

            

            <div class="nima_card" id="nima_card_2">
                    <div class="cover" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=Peru&amp;zoom=2&amp;size=200x200&amp;key=AIzaSyC8tMfHjAZlvWs5Xezt0uv6bORbFFXztlE')"></div>

                    <div class="content">
                          <!--   <img src="/media/cache/28/07/280791c49f63b83270ddc55acfc9fe96.jpg" alt="" class="thumbnail" /> -->

                            <div class="bio">
                                    <div class="title">
                                            <h4>gmss51</h4>
                                    </div>

                                    <p><span class="country"><img src="http://www.geonames.org/flags/s/pe.png"> Peru</span></p>
                            </div>
                    </div>
            </div> <!-- /nima_card -->

            

            <div class="nima_card" id="nima_card_3">
                    <div class="cover" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=Brazil&amp;zoom=2&amp;size=200x200&amp;key=AIzaSyC8tMfHjAZlvWs5Xezt0uv6bORbFFXztlE')"></div>

                    <div class="content">
                      <!--       <img src="/media/cache/71/18/7118cbdd2a028268dfb021578301cca5.jpg" alt="" class="thumbnail" /> -->

                            <div class="bio">
                                    <div class="title">
                                            <h4>yukinori</h4>
                                    </div>

                                    <p><span class="country"><img src="http://www.geonames.org/flags/s/br.png"> Brazil</span></p>
                            </div>
                    </div>
            </div> <!-- /nima_card -->

             

             
    </div>
						</div>
					</div>
					
				</div>
				<div class="nima_search">
					<div class="row">
						<div class="col-md-7 col-sm-7">
							<h2>Nima Map</h2>
						</div>
						<div class="col-md-5 col-sm-5 text-right">
							<form class="form-inline" action="/search/q" method="GET">
								<div class="form-group">
									<input class="form-control" type="text" name="search" placeholder="Search Nima"><button class="btn btn-primary">GO</button>
								</div>
							</form>
							<p><a href="/search">Advanced Search</a></p>
						</div>
					</div>
					<div id="map"></div>
				</div>
			</div>
		</div>
				
		<div class="row">
			<div class="col-md-8 col-sm-8 spacing_20px">
				<h3>Nima-kai Community Activity Feed</h3>
				
				<div class="activity-feed spacing_20px">
					<button class="btn btn-primary">All</button>
					<button class="btn btn-default">Articles</button>
					<button class="btn btn-default">Events</button>
					<button class="btn btn-default">Nikkei Album</button>
				</div>
				<% include ../partials/events %>
			</div>
			<div class="col-md-4 col-sm-4 spacing_20px">
				<h3>Latest Comments</h3>
				<div id="disqus_thread"></div>
				
			</div>
		</div>		
	</div><!-- dn inner container -->
	<% include ../partials/footer %>
</div><!-- end #container -->
