<%- layout('default-layout') %>

<%- include ../partials/header %>
<div id="container">
	
<body id="dn" class="nima">

<div id="dn_container">

<div id="dn_header">
	<div class="branding">
		<a href="/en/"><img src="/static/img/interface/header-title-en.png" class="img-responsive" alt="Discover Nikkei"></a>
	</div>
 
	<div class="user-tools">
	<div class="container-fluid">
			<div class="row">
				<div class="user-tools-content">
		<p class="languages">
			
			<span title="English">EN</span>
			

			
			<a href="/ja/nima/" title="日本語">JA</a>
                        

			
			<a href="/es/nima/" title="Español">ES</a>
                        

			
			<a href="/pt/nima/" title="Português">PT</a>
                        
		</p>

		<div class="user">
			 

			<ul class="actions">
				<li><a href="/en/login/" data-remote="false" data-toggle="modal" data-target="#login_modal">Sign In</a></li>
				<li><a href="/en/signup/" data-remote="false" data-toggle="modal" data-target="#signup_modal">Sign Up</a></li>
			</ul>

			 
		</div> <!-- /user -->
</div> <!-- /user-tools-content -->
			</div> <!-- /row -->
		</div> <!-- /container-fluid -->
	</div> <!-- /user-tools -->

 
</div> <!-- #dn_header -->

<div id="dn_nav">
	<div class="header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a href="#"></a>
	</div>

    <div id="collapse">
		<ul>
			<li>
				<a href="/stories/" data-toggle="dropdown">Stories</a>

				<ul class="dropdown-menu">
					<li><a href="/stories/">Nikkei Album</a></li>
					<li><a href="/en/journal/">Journal</a></li>
					<li><a href="/journal/chronicles/" style="padding-left: 2em;">Nikkei Chronicles</a></li>
					<li><a href="/stories/">Interviews</a></li>
				</ul>
			</li>
			<li>
				<a href="/stories/" data-toggle="dropdown">Community</a>

				<ul class="dropdown-menu">
					<li><a href="/stories/">Nima-kai</a></li>
					<li><a href="/stories/">Events</a></li>
					<li><a href="/stories/">Organizations</a></li>
					<li><a href="/stories/">Taiko Groups</a></li>
					<li><a href="/10thanniversary/">10th anniversary</a></li>
				</ul>
			</li>
			<li>
				<a href="/stories/" data-toggle="dropdown">Resources</a>

				<ul class="dropdown-menu">
					<li><a href="/stories/">How-to</a></li>
					<li><a href="/stories/">Lesson Plans</a></li>
					<li><a href="/stories/">Military Experience Database</a></li>
				</ul>
			</li>
			<li>
				<a href="/stories/" data-toggle="dropdown">About</a>

				<ul class="dropdown-menu">
					<li><a href="/stories/">What&nbsp;is&nbsp;Nikkei?</a></li>
					<li><a href="/stories/">Support&nbsp;the&nbsp;Project</a></li>
					<li><a href="/stories/">Terms of Use</a></li>
					<li><a href="/stories/">Privacy Policy</a></li>
					<li><a href="/stories/">Site&nbsp;map</a></li>
					<li><a href="/stories/">Contact</a></li>
				</ul>
			</li>
		</ul>

		<script>
		  (function() {
			var cx = '013306181249278908565:ukfvu-kg-zk';
		    
		    
		    
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
		        '//cse.google.com/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		</script>

		<div class="search">
			<gcse:searchbox-only resultsUrl="/en/search/" id="cse"></gcse:searchbox-only>
		</div>

		<div class="profile">
			<p><a href="#" data-toggle="modal" data-target="#choice_modal"><img src="/static/img/icons/user-40.png" /></a> <a href="#" data-toggle="modal" data-target="#choice_modal">Login or Sign Up</a></p>
		</div>
    </div>
</div> <!-- #dn_nav -->

<div class="row">
	

<div id="dn_main">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae gravida leo. Morbi lobortis, libero blandit iaculis tempor, arcu lacus sagittis erat, sit amet scelerisque dolor erat in felis. Proin enim ipsum, lobortis et congue eu, consequat vel nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent ac finibus nibh. Cras semper porttitor massa. Nunc neque ipsum, euismod ac dui ac, dignissim cursus tellus. Nulla tempor nisl in dui sollicitudin mattis. Duis mattis eros id leo maximus venenatis. Integer suscipit consequat orci a pellentesque. Sed quis ligula vel erat gravida consequat. Quisque semper porta interdum. Vestibulum molestie, arcu in lobortis malesuada, mi nunc hendrerit sem, id elementum turpis mauris ut enim. Nam vulputate ipsum scelerisque, volutpat nisi quis, consequat sapien. Aenean in urna tellus.</p>
</div> <!-- /dn_main -->


</div> <!-- .row -->

</div> <!-- /journal -->

</div><!-- #dn_container -->

<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
                        </div>

                        <div class="modal-body">

<div id="login_modal_content_wrapper">
<div id="login_options">
        <div id="login_social">
                <p><a href="javascript:allauth.facebook.login%28%27/en/nima/%27%2C%20%27authenticate%27%2C%20%27login%27%29" class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Sign In with Facebook
                </a></p>

                <p><a href="/en/twitter/login/?next=%2Fen%2Fnima%2F" class="btn btn-block btn-social btn-twitter">
                <span class="fa fa-twitter"></span> Sign In with Twitter
                </a></p>

                <p><a href="/en/google/login/?next=http%3A%2F%2Fli1009-145.members.linode.com%3A8000%2Fen%2Fnima%2Fgoogle%2Flogin%2Fcallback%2F" class="btn btn-block btn-social btn-google">
                <span class="fa fa-google"></span> Sign In with Google
                </a></p>

                <p><a href="#" class="btn btn-block btn-social" id="disqus_user_button">
                <span class="fa"><img src="/static/img/icons/disqus_icon_white_30x30.png" alt="" style="height: 20px; margin-top: -4px;" /></span> Sign In with Disqus
                </a></p>
        </div> <!-- /login_options -->

        <div id="login_or">
                <h6 class="or">~ or ~</h6>
        </div> <!-- /login_or -->

        <div id="login_form"></div> <!-- /login_form -->
</div> <!-- /login_options -->

<div class="nima_switch">
	<div class="content">
		<p id="login_switch">Don't have an account? <a href="/en/signup/" data-remote="false" data-toggle="modal" data-target="#signup_modal" data-dismiss="modal">Sign Up</a></p>
	</div> <!-- /content -->
</div> <!-- /nima_switch -->

</div> <!-- /login_modal_content_wrapper -->


                        </div> <!-- /modal-body -->

			<div class="modal-footer">
                                <p class="nima_terms">By signing in, you agree to the Discover Nikkei <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
                        </div>

                        <img src="/static/img/interface/dn_logo_100x100.png" alt="" id="choice_logo" />
                </div> <!-- /modal-content -->
        </div>
</div> <!-- #login_modal -->

<div class="modal fade" id="signup_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				<h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
			</div>

			<div class="modal-body">
<div id="signup_modal_content_wrapper">
<div id="nima_teaser">
    <div id="nima_message">
            <p>Are you a Nima*?</p>
            <p>
		Nima are members of the Discover Nikkei online community called Nima-kai. Join our community and share your stories about the Nikkei experience. Click an icon on the map to connect with Nima around the world!
            </p>
            <p>
            *The term &ldquo;Nima&rdquo; comes from combining <em>Nikkei</em> and <em>nakama</em> (Japanese for &ldquo;colleagues&rdquo;, or &ldquo;fellows&rdquo;, or &ldquo;circle&rdquo;).
            </p>
    </div> <!-- /nima_message -->

    <div id="nima_examples">

            

            

            <div class="nima_card" id="nima_card_1">
		    <div class="cover" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=United%20States&amp;zoom=2&amp;size=200x200&amp;key=AIzaSyC8tMfHjAZlvWs5Xezt0uv6bORbFFXztlE')"></div>

                    <div class="content">
                            <img src="/media/cache/b7/81/b78147136d5ab7fad78a0aff6cc1da48.jpg" alt="" class="thumbnail" />

                            <div class="bio">
                                    <div class="title">
                                            <h4>DavidGizz</h4>
                                    </div>

                                    <p><span class="country"><img src="http://www.geonames.org/flags/s/us.png" /> United States</span></p>
                            </div>
                    </div>
            </div> <!-- /nima_card -->

            

            <div class="nima_card" id="nima_card_2">
		    <div class="cover" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=Peru&amp;zoom=2&amp;size=200x200&amp;key=AIzaSyC8tMfHjAZlvWs5Xezt0uv6bORbFFXztlE')"></div>

                    <div class="content">
                            <img src="/media/cache/28/07/280791c49f63b83270ddc55acfc9fe96.jpg" alt="" class="thumbnail" />

                            <div class="bio">
                                    <div class="title">
                                            <h4>gmss51</h4>
                                    </div>

                                    <p><span class="country"><img src="http://www.geonames.org/flags/s/pe.png" /> Peru</span></p>
                            </div>
                    </div>
            </div> <!-- /nima_card -->

            

            <div class="nima_card" id="nima_card_3">
		    <div class="cover" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=Brazil&amp;zoom=2&amp;size=200x200&amp;key=AIzaSyC8tMfHjAZlvWs5Xezt0uv6bORbFFXztlE')"></div>

                    <div class="content">
                            <img src="/media/cache/71/18/7118cbdd2a028268dfb021578301cca5.jpg" alt="" class="thumbnail" />

                            <div class="bio">
                                    <div class="title">
                                            <h4>yukinori</h4>
                                    </div>

                                    <p><span class="country"><img src="http://www.geonames.org/flags/s/br.png" /> Brazil</span></p>
                            </div>
                    </div>
            </div> <!-- /nima_card -->

             

             
    </div> <!-- /nima_examples -->
</div> <!-- /nima_teaser -->

<div id="signup_options">
        <div id="signup_social">
                <p><a href="javascript:allauth.facebook.login%28%27/en/nima/%27%2C%20%27authenticate%27%2C%20%27login%27%29" class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Sign Up with Facebook
                </a></p>

                <p><a href="/en/twitter/login/?next=%2Fen%2Fnima%2F" class="btn btn-block btn-social btn-twitter">
                <span class="fa fa-twitter"></span> Sign Up with Twitter
                </a></p>

                <p><a href="#" class="btn btn-block btn-social btn-google">
                <span class="fa fa-google"></span> Sign Up with Google
                </a></p>

                <p><a href="#" class="btn btn-block btn-social" id="disqus_user_button">
                <span class="fa"><img src="/static/img/icons/disqus_icon_white_30x30.png" alt="" style="height: 20px; margin-top: -4px;" /></span> Sign Up with Disqus
                </a></p>
        </div> <!-- /signup_options -->

        <div id="signup_or">
		<h6 class="or">~ or ~</h6>
        </div> <!-- /signup_or -->

        <div id="signup_form"></div> <!-- /signup_form -->
</div> <!-- /signup_options -->

<div class="nima_switch">
        <div class="content">
		<p id="signup_switch">Already signed up? <a href="/en/login/" data-remote="false" data-toggle="modal" data-target="#login_modal" data-dismiss="modal">Sign In</a></p>
        </div> <!-- /content -->
</div> <!-- /nima_switch -->

</div> <!-- /signup_modal_content_wrapper -->


			</div> <!-- /modal-body -->

			<div class="modal-footer">
				<p class="nima_terms">By signing up, you agree to the Discover Nikkei <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
			</div>

			<img src="/static/img/interface/dn_logo_100x100.png" alt="" id="choice_logo" />
		</div> <!-- /modal-content -->
	</div>
</div> <!-- #signup_modal -->

<div class="modal fade" id="password_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
                        </div>

                        <div class="modal-body">
				<div id="password_modal_content_wrapper">
					<div id="password_form"></div> <!-- /password_form -->
				</div> <!-- /password_modal_content_wrapper -->
                        </div> <!-- /modal-body -->

			<img src="/static/img/interface/dn_logo_100x100.png" alt="" id="choice_logo" />
                </div> <!-- /modal-content -->
        </div>
</div> <!-- #password_modal -->

<div id="fb-root"></div>

