<%- layout('default-layout') %>

<!-- legacy container -->
<div id="container">
	
	<div id="dn" class="nima">
		<div id="dn_container">
			<%- include ../partials/header %>
				 <!-- .row -->
		</div> <!-- /journal -->
	</div><!-- #dn_container -->


	<%- include ../partials/modal %>
	<div class="dn-inner-container">
		<div class="row">
			
			<div class="col-md-12 col-sm-12">
				<div id="journal_introduction">
					
					<div class="row">
						<div class="col-md-2 col-sm-2 text-center">
							<img class="nima community_icon" src="static/img/icons/users-100.png">
							<button class="nima signup">Sign Up</button>
						</div>
						<div class="col-md-6 col-sm-6">
							<h2>Nima</h2>
							<p>Are you a Nima*?</p>
							<p>Nima are members of the Discover Nikkei online community called Nima-kai.  Join our community and share your stories about the Nikkei experience.  Click an icon on the map to connect with Nima around the world!</p>
							<p>The term "Nima" comes from combining Nikkei and nakama (Japanese for "colleagues", or "fellows", or "circle").</p>
						</div>
						<div class="col-md-4 col-sm-4">
							<p>Pictures coming soon</p>
						</div>
					</div>
					
				</div>
				<div class="nima_search">
					<div class="row">
						<div class="col-md-7 col-sm-7">
							<h2>Nima Map</h2>
						</div>
						<div class="col-md-5 col-sm-5 text-right">
							<form class="form-inline" action="/search" method="GET">
								<div class="form-group">
									<input class="form-control" type="text" name="search" placeholder="Search Nima"><button class="btn btn-primary">GO</button>
								</div>
							</form>
							<p><a href="/search">Advanced Search</a></p>
						</div>
					</div>
					<div id="map"></div>
				</div>
			</div>
		</div>
				
		<div class="row">
			<div class="col-md-8 col-sm-8 spacing_20px">
				<h3>Nima-kai Community Activity Feed</h3>
				
				<div class="activity-feed spacing_20px">
					<button class="btn btn-primary">All</button>
					<button class="btn btn-default">Articles</button>
					<button class="btn btn-default">Events</button>
					<button class="btn btn-default">Nikkei Album</button>
				</div>
				<% include ../partials/events %>
			</div>
			<div class="col-md-4 col-sm-4 spacing_20px">
				<h3>Latest Comments</h3>
				<div id="disqus_thread"></div>
				<script>
				    /**
				     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
				     */
				    /*
				    var disqus_config = function () {
				        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
				        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				    };
				    */
				    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
				        var d = document, s = d.createElement('script');
				        
				        s.src = '//EXAMPLE.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
				        
				        s.setAttribute('data-timestamp', +new Date());
				        (d.head || d.body).appendChild(s);
				    })();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			</div>
		</div>		
	</div><!-- dn inner container -->
	<% include ../partials/footer %>
</div><!-- end #container -->
