$default_font: Ubuntu, Arial, Helvetica, Verdana, 'Bitstream Vera Sans', sans-serif;


h1, h2, h3, h4, h5, h6, p, ul, li, button, a {
	font-family: $default_font;
}
//modifications
#journal_introduction {
	width:100%;
	font-family: $default_font;
	padding-top:10px;
	padding-bottom: 25px;
	h1, h2 {
		font-weight: bold;
	}

	p {
		max-width: 360px;
	}

}
.feed {

	.item {
		padding:0;
		margin:0;

		.languages {
			position: absolute;
			right:-2px !important;
			top:5px;

			span {
			    display: inline-block;
			    min-width: 10px;
			    padding: 3px 7px;
			    font-size: 12px;
			    font-weight: bold;
			    color: #fff;
			    line-height: 1;
			    vertical-align: middle;
			    white-space: nowrap;
			    text-align: center;
			    background-color: rgba(0, 0, 0, 0.68);
			    border-radius: 10px;
			    text-transform: uppercase;
			}
		}
		img.feed-img {
			max-width: 180px;
			border: 3px solid rgba(128, 128, 128, 0.29);
		}
		a.event-locations {
			font-size:11px;
			line-height: 14px;
			display: block;
			color:blue;
		}

		.info {
			h3 {
				margin:0;
				margin-bottom: 10px;
				font-weight: bolder; 
				font-size:15px;
				line-height: 16px;
			}			
		}
	
	

	}
}
div.odd {
	background-color: rgba(143, 4, 133, 0.08);

}

#journal_promos {
	position: relative;
	right:-10px;
}
.nima-cards {
	position:relative;
	left:-15px;
}

.nima_search {
	h3 {
		font-weight: bold;
		font-size:21px;
		margin:0;
	}
}
.dn-inner-container {
	padding:0px 10px;

	h3.subtitle {
		font-style: italic;
		font-size:20px;
	}
}
.caption {
	padding:10px;
	border:1px solid black;
}
//calendars in events
.startdate, .enddate {
	height: 80px;
    width: 175px;
    box-sizing: border-box;
    background-color: white;
    margin-left: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
}
.startdate em, .enddate em, .startdate td.month, .enddate td.month {
	font-size: 22px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.startdate b, .enddate b, .startdate td.date, .enddate td.date {
    background: #ffffff;
    font-size: 26px;
    color: #667;
    font-weight: 700;
    padding-top: 7px;
}
.eventpreviews {
	margin-bottom: 30px;
	.text {
		padding-left: 10px;
		button {
			margin-bottom: 10px;
			display: block;
		}
	}
	tr {
		border:1px solid #ccc;
		td {
			vertical-align: bottom;
		}
		td.icon {
			padding-top:2px;
			padding-bottom: 2px;
			padding-left:2px;
		}
	}
	tr.spacer {
		border:0;
		height:30px;
	}
}
.general-info {
	border:1px solid black;
	padding:10px;
}
.home {
	.middle-rail {
		position:relative;
		left:-10px;
		background: rgba(238, 130, 150, 0.31);
		border-radius: 4px;
	}	
}

.comments {
	h3 {
		text-align: center;
	}
}

.navigation.block {
	text-align: left;
}
.breadcrumb {
    margin: 0;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
}
.nima-cards {
	#nima_examples {
		position:relative;
		top:10px;
		left:10px;
	}
}

.dn-inner-container{

	h3 {
		// font-style: italic;
	}
	.block {
		margin-bottom: 0px;
	}
	.nima_card {
		.cover {
			height:90px;
		}
		width:152px !important;
		.content {
			padding:0 !important;
		}

		h5 {
			margin-top:10px !important;
			font-size: 12px;
			font-weight: 700;
		}
		h6 {
			font-size: 9px;
		}
	}

	#nima_card_3 {
		position: absolute;
	    top: 8px;
	    right: 0px;
	    z-index: 1;
	}

	#nima_card_2 {
		position: absolute;
	    top: 8px;
	    left: 80px;
	    z-index: 1;
	}
}

.byline li {
	font-size:16px;
}

.nima_form_container {
	margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: #ddd;
}

//default nima styles and classes
.nima {
	&.community_icon {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&.signup {
		background-color: #2e87cf;
	    border: none;
	    border-radius: 5px;
	    height: 35px;
	    width: 90px;
	    color: white;
	    font-size: 12px;
	    box-sizing: border-box;
	    font-weight: bolder;
	    cursor: pointer;
	}
	&.pill {
   		background-color: rgba(187, 187, 187, 0.72);
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	    color: #fff;
	    cursor: pointer;
	    text-transform: uppercase;
	    box-sizing: border-box;
	    outline: none;
	    display: inline-block;
	    text-align: center;
	    font-weight: bold;
	    margin-bottom: 9px;
		padding: .1em .3em .1em;
	    border-radius: .25em;
	    position:absolute;
	    top:60px;
	    left:20px;
	}
	&.toggle {
		border-radius:8px;
		border:1px solid #979797;
		background-color:white;
		font-family: $default_font;
		color:black;
		width: 110px;
		cursor:pointer;
		box-shadow: border-box;
		padding-top: 5px;
		outline:none;
		&.active {
			background-color: #979797;
			color:white;
		}
	}
	&.profile-pic.avatar {
		border-radius:50%;
	}
	&.profile-pic-map {
		position: absolute;
		top:90px;
		left:50%;
		margin-left: -25px;
		z-index: 10;
		border-radius: 50%;
		background-color:white;
		img {
			position:relative;
		}
	}
	&.menu-icon {
	    position: relative;
	    top: 15px !important;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	    color: black;
	    margin-top: 0px !important;
	    line-height: 25px !important;
	}
	&.username {
		font-weight: bolder;
		font-family: sans-serif;
		letter-spacing: 1.5px;
	}
	&.publish_date {
		font-style:italic;
	}
}

.nima-lang {
    background-color: #4a4a4a;
    color: white;
    text-transform: uppercase;
    float: right;
    border-radius: 10px;
    width: 30px;
    height: 20px;
    text-align: center;
    margin-right: 6px;
    padding-top: 4px;
}
.nima-lang.inactive {
	background-color:#999;
}

.nima_search {
	h2 {
		margin:0px;
	}
	input[type=text]{
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		vertical-align: top;
	}
	button {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		vertical-align: top;
	}
}

.avatar_s.inline img, .avatar_m.inline img, .avatar_l.inline img, .avatar_xl.inline img {
    margin-right:10px;
}
.btn-group {
	button {
		outline:none !important;
	}
}

.article-pic {
	background-color: #999;
	height:71px;
	width:120px;
}

.spacing_20px {
	margin-top:20px !important;
	margin-bottom: 15px !important;
}

#account {
	display: none;
}
.eventpreviews {
	table-layout: auto;
	width: 100%;
}

.eventpreviews td.text {
	padding-top:5px;
}
.eventpreviews tr td {
	vertical-align: top;
}
.bio-pic {
	position: absolute;
	top: 1px;
	left: 50%;
	margin-left: -41px;
	background-color: white;
	border-radius: 50%;
	img.profile-pic {
		 position: relative;
		 top:-3px;
	 //    top: -101px;
  //  		left: 50%;
  //   	margin-left: -40px;
	}

}
.map-icon {
	img {
		width:65px;
	}
}
.social_profile {
	position: relative;
	top:7px;
}

#load-more {
	margin-top:40px;
}

/* Disqus Comments */

.home {
	ul.dsq-widget-list {
		padding-left:5px;
	}
	li.dsq-widget-item {
		margin:40px 0 !important;
		padding:20px;
		border-radius: 14px;
		position:relative;
		background-color: white;
		box-shadow: 0px 1px 2px -1px black;
	}
	li.dsq-widget-item:before {
		content:" ";
		display:block;
		height:0px;
		width:0px;
		position:relative;
		border-top: 30px solid transparent;
		border-right: 30px solid white;
		border-bottom: 30px solid transparent;
		top:-50px;
		left:-10px;
	}
	img.dsq-widget-avatar {
		width:64px !important;
		height:64px !important;
		padding:0 !important;
		position:absolute;
		top:12px;
		left:17px;
		border:3px solid rgba(0, 0, 0, 0.18) !important;
		border-radius:8px;
	}
	a.dsq-widget-user {
		font-size: 11px;
	    color: white;
	    background: rgba(0, 0, 0, 0.66);
	    padding: 2px 10px;
	    border-radius: 8px;
	    position: absolute;
	    top: 20px;
	    right: 11px;
	}

	.dsq-widget-comment p {
	    display: inline;
	    font-size: 16px;
	    font-family: Helvetica;
	    letter-spacing: 0.9px;
	    a {
	    	display: none; /* Hide links otherwise break layout */
	    }
	}

	.dsq-widget-comment p:before {
		content:"“";
		font-size:30px;
	}
	.dsq-widget-comment p:after {
		content:"”";
		font-size:18px;
	}
	p.dsq-widget-meta {
		margin-top:10px;
		font-size:8px;
	}
}

.form-group.editor {
	display: none;
}
.form-group.editor.english {
	display: block;
}

#nima_form_container, .nima_form_container {
	box-shadow: none;
	-webkit-box-shadow:none;
	border:none;
}
.error {
	border:1px solid red;
}
.other-textarea {
	display: block;
	width: 100%;
	height:250px;
	margin-top:20px;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
}

/* Search page */
.search {
	.middle-rail {
		background: rgba(16, 0, 255, 0.09);
	    padding-bottom: 40px;
    	border-radius: 8px;
	}
}


@media screen and (max-width:1000px){
	#container {
		width:100%;

	}
}

@media screen and (max-width:767px){
	.form-control {
		display: inline-block;
		width:100%;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;

	}
	.nima_search {
		button {
			width:100%;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
	}
}