$default_font: Arial, Helvetica, Verdana, 'Bitstream Vera Sans', sans-serif;

//modifications
#journal_introduction {
	width:100%;
	font-family: $default_font;
	padding-top:10px;
	padding-bottom: 25px;
	h1, h2 {
		font-weight: bold;
	}
	p {
		max-width: 360px;
	}

}
.item {
	padding-top: 10px !important;
	img {
		max-width: 180px;
	}
	h3 {
		padding-bottom: 10px;
	}
}
.item-event {
	padding-top: 20px !important;
}

#journal_promos {
	position: relative;
	right:-10px;
}
.nima-cards {
	position:relative;
	left:-15px;
}

.nima_search {
	h3 {
		font-weight: bold;
		font-size:21px;
		margin:0;
	}
}
.dn-inner-container {
	padding:0px 10px;
}
.caption {
	padding:10px;
	border:1px solid black;
}
//calendars in events
.startdate, .enddate {
	height: 100px;
    width: 100%;
    box-sizing: border-box;
}
.startdate em, .enddate em, .startdate td.month, .enddate td.month {
	font-size: 32px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
}
.startdate b, .enddate b, .startdate td.date, .enddate td.date {
    background: #ffffff;
    font-size: 36px;
    color: #4b66d4;
    font-weight: 200;
    padding-top: 7px;
}
.eventpreviews {
	margin-bottom: 30px;
	.text {
		padding-left: 10px;
		button {
			margin-bottom: 10px;
			display: block;
		}
	}
	tr {
		border:1px solid #ccc;
		td {
			vertical-align: bottom;
		}
		td.icon {
			padding-top:2px;
			padding-bottom: 2px;
			padding-left:2px;
		}
	}
	tr.spacer {
		border:0;
		height:30px;
	}
}
.general-info {
	border:1px solid black;
	padding:10px;
}
.middle-rail {
	position:relative;
	left:-10px;
}

.navigation.block {
	text-align: left;
}
.breadcrumb {
    margin: 0;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
}
.nima-cards {
	#nima_examples {
		position:relative;
		top:10px;
		left:10px;
	}
}

.dn-inner-container{
	.block {
		margin-bottom: 0px;
	}
	.nima_card {
		.cover {
			height:90px;
		}
		width:152px !important;
		.content {
			padding:0 !important;
		}
		h5 {
			margin-top:10px !important;
			font-size: 12px;
			font-weight: 700;
		}
		h6 {
			font-size: 9px;
		}
	}

	#nima_card_3 {
		position: absolute;
	    top: 8px;
	    right: 0px;
	    z-index: 1;
	}

	#nima_card_2 {
		position: absolute;
	    top: 8px;
	    left: 80px;
	    z-index: 1;
	}
}

.nima_form_container {
	margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: #ddd;
}

//default nima styles and classes
.nima {
	&.community_icon {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&.signup {
		background-color: #2e87cf;
	    border: none;
	    border-radius: 5px;
	    height: 35px;
	    width: 90px;
	    color: white;
	    font-size: 12px;
	    box-sizing: border-box;
	    font-weight: bolder;
	    cursor: pointer;
	}
	&.pill {
		border-radius: 2px;
	    border: 1px solid #979797;
	    background-color: #999;
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	    color: #fff;
	    cursor: pointer;
	    text-transform: uppercase;
	    box-sizing: border-box;
	    padding: 2px;
	    outline: none;
	    display: inline-block;
	    text-align: center;
	    font-weight: 500;
	    margin-bottom: 9px;
	}
	&.toggle {
		border-radius:8px;
		border:1px solid #979797;
		background-color:white;
		font-family: $default_font;
		color:black;
		width: 110px;
		cursor:pointer;
		box-shadow: border-box;
		padding-top: 5px;
		outline:none;
		&.active {
			background-color: #979797;
			color:white;
		}
	}
	&.profile-pic.avatar {
		border-radius:50%;
	}
	&.profile-pic-map {
		position: absolute;
		top:90px;
		left:50%;
		margin-left: -25px;
		z-index: 10;
		border-radius: 50%;
		background-color:white;
		img {
			position:relative;
		}
	}
	&.menu-icon {
	    position: relative;
	    top: 15px !important;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	    color: black;
	    margin-top: 0px !important;
	    line-height: 25px !important;
	}
}

.nima-lang {
    background-color: #4a4a4a;
    color: white;
    text-transform: uppercase;
    float: right;
    border-radius: 10px;
    width: 30px;
    height: 20px;
    text-align: center;
    margin-right: 6px;
    padding-top: 4px;
}
.nima-lang.inactive {
	background-color:#999;
}

.nima_search {
	h2 {
		margin:0px;
	}
	input[type=text]{
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		vertical-align: top;
	}
	button {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		vertical-align: top;
	}
}

.avatar_s.inline img, .avatar_m.inline img, .avatar_l.inline img, .avatar_xl.inline img {
    margin-right:10px;
}
.btn-group {
	button {
		outline:none !important;
	}
}

.article-pic {
	background-color: #999;
	height:71px;
	width:120px;
}

.spacing_20px {
	margin-top:20px !important;
	margin-bottom: 15px !important;
}

#account {
	display: none;
}
.eventpreviews {
	table-layout: auto;
	width: 100%;
}

.eventpreviews td.text {
	padding-top:5px;
}
.eventpreviews tr td {
	vertical-align: top;
}
.bio-pic {
	position: absolute;
	top: 1px;
	left: 50%;
	margin-left: -41px;
	background-color: white;
	border-radius: 50%;
	img.profile-pic {
		 position: relative;
		 top:-3px;
	 //    top: -101px;
  //  		left: 50%;
  //   	margin-left: -40px;
	}

}
.map-icon {
	img {
		width:65px;
	}
}
.social_profile {
	position: relative;
	top:7px;
}

/* Disqus Comments */
ul.dsq-widget-list {
	padding-left:5px;
}

@media screen and (max-width:1000px){
	#container {
		width:100%;

	}
}

@media screen and (max-width:767px){
	.form-control {
		display: inline-block;
		width:100%;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;

	}
	.nima_search {
		button {
			width:100%;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
	}
}