$default_font: Arial, Helvetica, Verdana, 'Bitstream Vera Sans', sans-serif;

//modifications
#journal_introduction {
	width:100%;
	font-family: $default_font;
}
.dn-inner-container {
	padding:0px 10px;
}
//calendars in events
.startdate, .enddate {
	height: 70px;
    width: 70px;
    box-sizing: border-box;
}
.startdate em, .enddate em, .startdate td.month, .enddate td.month {
	font-size: 20px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
}
.startdate b, .enddate b, .startdate td.date, .enddate td.date {
    background: #ffffff;
    font-size: 24px;
    color: #4b66d4;
    font-weight: 200;
    padding-top: 7px;
}
.eventpreviews {
	margin-bottom: 30px;
	.text {
		padding-left: 10px;
		button {
			margin-bottom: 10px;
			display: block;
		}
	}
	tr {
		border:1px solid #ccc;
		td {
			vertical-align: bottom;
		}
		td.icon {
			padding-top:2px;
			padding-bottom: 2px;
			padding-left:2px;
		}
	}
	tr.spacer {
		border:0;
		height:30px;
	}
}

.navigation.block {
	text-align: left;
}
.breadcrumb {
    margin: 0;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
}

.dn-inner-container{
	#nima_card_3 {
		position: absolute;
	    top: 8px;
	    right: 0px;
	    z-index: 1;
	    width: 145px;
	}

	#nima_card_2 {
		position: absolute;
	    top: 8px;
	    left: 100px;
	    z-index: 1;
	    width: 145px;
	}
}

.nima_form_container {
	margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: #ddd;
}

//default nima styles and classes
.nima {
	&.community_icon {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&.signup {
		background-color: #2e87cf;
	    border: none;
	    border-radius: 5px;
	    height: 35px;
	    width: 90px;
	    color: white;
	    font-size: 12px;
	    box-sizing: border-box;
	    font-weight: bolder;
	    cursor: pointer;
	}
	&.pill {
		border-radius: 2px;
	    border: 1px solid #979797;
	    background-color: #999;
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	    color: #fff;
	    cursor: pointer;
	    text-transform: uppercase;
	    box-sizing: border-box;
	    padding: 2px;
	    outline: none;
	    display: inline-block;
	    text-align: center;
	    font-weight: 500;
	    margin-bottom: 9px;
	}
	&.toggle {
		border-radius:8px;
		border:1px solid #979797;
		background-color:white;
		font-family: $default_font;
		color:black;
		width: 110px;
		cursor:pointer;
		box-shadow: border-box;
		padding-top: 5px;
		outline:none;
		&.active {
			background-color: #979797;
			color:white;
		}
	}
	&.profile-pic.avatar {
		border-radius:50%;
	}
	&.profile-pic-map {
		position: absolute;
		top:120px;
		left:50%;
		margin-left: -25px;
		z-index: 10;
		img {
			border-radius: 50%;
			border:6px solid white;
		}
	}
	&.menu-icon {
	    position: relative;
	    top: 15px !important;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	    color: black;
	    margin-top: 0px !important;
	    line-height: 25px !important;
	}
}

.nima-lang {
    background-color: #4a4a4a;
    color: white;
    text-transform: uppercase;
    float: right;
    border-radius: 10px;
    width: 30px;
    height: 20px;
    text-align: center;
    margin-right: 6px;
    padding-top: 4px;
}
.nima-lang.inactive {
	background-color:#999;
}

.nima_search {
	h2 {
		margin:0px;
	}
	input[type=text]{
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		vertical-align: top;
	}
	button {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		vertical-align: top;
	}
}
.activity-feed {
	button {
		margin-right: 5px;
	}
	button:first-child {
		margin-left: 5px;
	}
}

.spacing_20px {
	margin-top:20px;
	margin-bottom: 15px;
}

#account {
	display: none;
}


@media screen and (max-width:1000px){
	#container {
		width:100%;

	}
}

@media screen and (max-width:767px){
	.form-control {
		display: inline-block;
		width:100%;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;

	}
	.nima_search {
		button {
			width:100%;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
	}
}