#footer {
	background-color:#2e2e2e;
	text-align: left;
	color:#cbcbbe;

	.footer_logo {
	    width: 369px;
	    height: 33px;

	}
	.border {
		padding-top:10px;
		padding-bottom: 10px;
	}
	.border.top {
		border-top: 1px solid rgba(78, 78, 78, 0.48);
	}
	.border.bottom {
		border-bottom: 1px solid rgba(78, 78, 78, 0.48);
	}


	.footer_logo.en {
		background: url(http://media.discovernikkei.org/static/img/interface/header-titles.gif) 0px 0px no-repeat;
		background-size: 75%;
	}
	.row {
		margin-left: 0px;
		margin-right: 0px;
	}
	h5 {
		text-transform: uppercase;
	}

	a {
		color:#cbcbbe;
	}
	ul {
		padding-left: 0;
	}
	ul li {
		list-style-type: none;
		text-transform: uppercase;
		padding-bottom: 5px;
		color:#cbcbbe;
	}
}