#article-header {
	position: relative;
	width: 490px;
	margin: 0 0 10px 0;
	font-family: $font-ui;

	h1 {
		margin: 0 0 5px 0;
		font-size: 29px;
		font-style: normal;
	    font-family: $font-ui;
	    color: black;
	}

	h2 {
		margin: 0 0 3px 0;
		font-size: 17px;
		font-weight: bold;
		font-family: $series-theme-title-font;
		color: $series-theme-color;

		a {
			color: $series-theme-color;

			&:hover {
				color: $series-theme-color;
				text-decoration: none;
			}
		}
	}

	.image {
		margin: 0 0 10px 0;

		.caption {
			line-height: normal;
			font-size: 11px;
			color: #666;

			p {
				margin: 0;
				color: #666;
			}
		}
	}
} /* #article-header */

.misc {
	@include clearfix;

	margin: 0 0 5px 0;

	.category {
		@extend .pull-left;

		@extend .label;
		@extend .label-default;

		text-transform: uppercase;
		font-size: 13px;
		font-style: none;
	}

	.languages {
		@extend .pull-right;

		margin: 0;

		span,
		a {
			@extend .badge;

			text-transform: uppercase;
			font-style: normal;
			font-size: 13px !important;
		}

		span {
			background: black !important;
		}
	}
}

.byline {
	margin: 0 0 10px 0;
	font-size: 12px;

	ul {
		@extend .list-inline;

		margin: 0;

		li {
			padding: 0;
			white-space: nowrap;

			&:first-child:before {
				content: "";
				margin: 0;
			}

			&:before {
				content: "/";
				margin: 0 8px 0 8px;
			}
		}
	}

	&.organizations {
		.organization_logo {
			margin: 0 3px 0 0;
		}

		li {
			white-space: normal;
		}
	}
}

#hero {
	.header {
		@include clearfix;

		padding: 5px 0;

		.instructions {
			@extend .pull-left;

			font-weight: bold;
			font-size: 15px;
			font-family: $font-ui;
			color: $font-ui-color;
		}

		p {
			@extend .pull-right;

			margin: 0 0 0 0;
			font-size: 11px;
			color: #9e9e9e;

			.current,
			.total {
				font-size: 13px;
				color: #373737;
			}

			.controls {
				@extend .btn-group;

				margin: -5px 0 0 5px;

				a {
					@extend .btn;
					@extend .btn-default;
					@extend .btn-xs;
				}
			}
		}
	}

	.slideshow {
		overflow: hidden;
		clear: both;
		height: 327px;
		width: 490px;
		margin: 0 0 10px 0;
		background: black;

		.slide {
			height: 327px;
			width: 490px;
			position: relative;
			text-align: center;

			table {
				height: 327px;
				width: 490px;
			}

			.caption {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 300px 5px 5px;
				font-size: 13px;
				line-height: 17px;
				pointer-events: none;
				color: white;
				background: transparent url("../img/interface/overlay_gradient_x_bottom.png") repeat-x scroll 0 150px;

				p {
					margin: 0;
					color: white;
				}
			}
		}
	}
}

.share {
	@include clearfix;

	margin: 0 0 10px 0;
	padding: 10px 0 7px 0;
	border-top: 1px solid #e4e7ea;
	border-bottom: 1px solid #e4e7ea;

	.options {
		@extend .pull-left;

		.addthis_32x32_style {
			.at_flat_counter {
				vertical-align: top;
			}
		}
	}

	.local {
		@include clearfix;
		@extend .pull-right;
		@extend .btn-group;

		text-align: right;

		.print {
			@extend .btn;
			@extend .btn-default;
			@extend .btn-lg;

			display: inline-block;
			height: 32px;
			width: 32px;
			background: url("../img/icons/print_24x24.png") no-repeat 50% 50%;
		}

		.comments {
			@extend .btn;
			@extend .btn-default;
			@extend .btn-lg;

			display: inline-block;
			height: 32px;
			width: 35px;
			padding: 2px 0 0 0;
			text-align: center;
			line-height: normal;
			vertical-align: top;
			font-weight: bold;
			font-size: 13px;
			color: white;
			background: url("../img/icons/comments_24x24.png") no-repeat 50% 50%;

			&:hover {
				color: white;
				text-decoration: none;
			}
		}
	}
}