$font-ui: 'Open Sans',Helvetica,Arial,sans-serif;
$font-ui-color: #282828;
$font-reading: 'Open Sans',Helvetica,Arial,sans-serif;
$font-reading-color: #282828;
$border: 1px solid #cccccc;
$orange-color: #f69331;
// $font-reading: 'Droid Serif',Georgia,serif;

/* #45667c #f69331 #fce3c7 #e2cbb2 #7F0052 #D47579 */
$series-title-color: white;
$series-theme-color: #D47579;
$series-theme-title-font: "Helvetica Neue",Arial,Helvetica,sans-serif;

$font-stack: Helvetica, sans-serif;
$background: #DDD9C2;
$primary-blue: #4B66D4;

$light-blue: #00bff3;
$purple: #b54bff;
$yellow: #fff000;
$red: #f42f2f;
$green: #1dd47c;
$lighter-red: #ff3f3f;
$periwinkle: #e8f6f6;
$dark-grey: #4c4c4c;
$dark-text: #4c4c4c;
$pink: #EF7C99;
$maroon: #db6457;
$dn-blue: #4e84c4;